In [1]:
import pandas as pd

In [6]:
frame_shop = {"Frame": ["Round", "Square", "Pixel", "Tile", "Smooth"],
             "Price": ["50", "45", "15", "65", "2"],
             "Sales": ["75", "600", "456", "987", "243"]}

In [7]:
df = pd.DataFrame(frame_shop)

In [8]:
df

    Frame Price Sales
0   Round    50    75
1  Square    45   600
2   Pixel    15   456
3    Tile    65   987
4  Smooth     2   243