In [3]:
import pandas as pd

In [4]:
hey_arnold = pd.DataFrame({
    "Character_in_show": ["Arnold", "Gerald", "Helga", "phoebe", "Harold", "Eugene"], 
    "Color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
"Height": ["average", "tallish", "tallish", "short", "tall", "short"],
"Football_shaped_head": ["True", "False", "False", "False", "False", "False"]})

In [5]:
hey_arnold

  Character_in_show Color_of_hair   Height Football_shaped_head
0            Arnold        blonde  average                 True
1            Gerald         black  tallish                False
2             Helga        blonde  tallish                False
3            phoebe         black    short                False
4            Harold       unknown     tall                False
5            Eugene           red    short                False